@model int
<li class="nav-item">
    <a class="nav-link position-relative" asp-controller="Cart" asp-action="Index">
        Cart
        @if (Model > 0)
        {
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                @Model
            </span>
        }
    </a>
</li>
